<div class="card">
    <div class="card-header">
        <h5 class="card-title">Crear cuenta</h5>
    </div>

    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <input 
            name="username" 
            class="form-control my-2 w-25"
            placeholder="Usuario" 
            [(ngModel)]="user.username">

            <input 
            name="name" 
            class="form-control my-2 w-25"
            placeholder="Nombre" 
            [(ngModel)]="user.name">

            <input 
            name="surname" 
            class="form-control my-2 w-25"
            placeholder="Apellidos" 
            [(ngModel)]="user.surname">

            <input 
            name="password" 
            class="form-control my-2 w-25" 
            type="password" 
            placeholder="Contraseña"
            [(ngModel)]="user.password">

            <button 
            class="btn btn-primary" 
            type="submit">
                Crear cuenta
            </button>
        </form>
    </div>
</div>