.image-group {
    clear: both;
}

.image-view {
    display: inline;
    width: 10em;
    margin: 2em;
}

.messages {
    position: relative;
    list-style: none;
    margin: 2em;
}

.message {
    clear: both;
    overflow: hidden;
}

img:hover {
    position: relative;
    color: #424242; 
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(3);
    -ms-transform: scale(3); 
    -webkit-transform: scale(3);
    z-index: 99 !important;
}

.worker-message {
    background-color: #ffe6cb;
    margin-left: 2em;
    margin-top: .5em;
    right: 100%;
    border-right-color: #ffe6cb;
    color: #c48843;
    float: left;
    text-align: left;
    padding: 1em;
    border-radius: 1em;
}

.client-message {
    background-color: #c7eafc;
    margin-right: 2em;
    margin-top: .5em;
    float: right;
    left: 100%;
    border-left-color: #c7eafc;
    color: #45829b;
    text-align: right;
    padding: 1em;
    border-radius: 1em;
}

.form-select {
    padding-top: 0em !important;
    height: 1em !important;
    min-height: 2em !important;
    min-width: 10em;
    width: 30% !important;
}

.btn-status {
    background-color: #7F9F80;
    color: white;
    margin-left: 2em;
}

.btn-status:hover {
    background-color: #4F6F52 !important;
}

.form-message {
    border: 1px solid gray;
    display: inline-block !important;
    padding: 0 .5rem;
    flex: 1;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    outline: none;
    width: 75% !important;
}

.btn-send {
    margin-left: .5em !important;
    margin-top: .5em !important;
    background-color: #7F9F80;
}

.btn-send:hover {
    background-color: #4F6F52 !important;
}


.bg-info {
    background-color: #51829B !important;
    padding: 12px;
}

.bg-warning {
    background-color: #EF9C66 !important;
    padding: 12px;
}

.bg-success {
    background-color: #4F6F52 !important;
    padding: 12px;
}

.bg-secondary {
    background-color: #686D76 !important;
    padding: 12px;
}

.btn-upload {
    margin-left: 5em;
}

.btn-primary:hover {
    background-color: #51829B !important;
}