
<div class="col-xl-9 mx-auto m-5"> 
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Editar perfil</h3>
          </div>
          <div class="col-4 text-right">
            <a class="btn btn-primary btn-lg mt-3 " style="color: white;" type="submit" (click)="onSubmit()" >Guardar</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <h6 class="heading-small text-muted mb-4">Información de usuario</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-username">Nombre de usuario</label>
                  <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="josejuan98" [(ngModel)]="user.username"
                  disabled [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-date">Fecha de nacimiento</label>
                  <input type="date" id="input-date" class="form-control form-control-alternative" type="date"
                  [(ngModel)]="user.birthDate" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-first-name">Nombre</label>
                  <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Jose juan" [(ngModel)]="user.surname"
                  [ngModelOptions]="{standalone: true}" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-last-name">Apellidos</label>
                  <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Lopez Gutierrez"
                  [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h6 class="heading-small text-muted mb-4">Información de contacto</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-address">Dirección</label>
                  <input id="input-address" class="form-control form-control-alternative" placeholder="Avenida de la constitución 9" type="text"
                  [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h6 class="heading-small text-muted mb-4">Cambio de contraseña</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-address">Contraseña antigua</label>
                  <input id="input-address" class="form-control form-control-alternative" type="text"
                  placeholder="Contraseña antigua"
                    [(ngModel)]="user.oldPassword" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-address">Contraseña nueva</label>
                  <input id="input-address" class="form-control form-control-alternative" type="text"
                  placeholder="Contraseña nueva"
                    [(ngModel)]="user.newPassword" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-address">Repite la contraseña</label>
                  <input id="input-address" class="form-control form-control-alternative" type="text"
                  placeholder="Contraseña"
                    [(ngModel)]="passwordCheck" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
