<div class="">

  <!-- Carousel section-->
  <section class="banner f_l_w_100 pt_200 pb_150 pb_80_fhd pb_40_tablet aspectratio_16_8 aspectratio_16_18_mobile dflex flex_wrap js_fe ai_fe">
      <div class="container-fluid">
              <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
                  @for (image of images; track $index) {
                      <mdb-carousel-item>
                          <img
                            src="{{image}}"
                            class="d-block w-100 image-item"
                            alt="..."
                          />
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Proyectos</h5>
                            <p>Muestra de los proyectos llevados a cabo por el taller</p>
                          </div>
                        </mdb-carousel-item>
                      }        
                </mdb-carousel>
          </div>
  </section>

  <section>
    <div class="container body-info px-5 ">
      <div class="row gx-5 p-3">
          <div class=" col-lg-8  mb-lg-0">
            ¿Eres un apasionado de los vehículos clásicos o antiguos? ¿Te entristece ver cómo el paso del tiempo ha deteriorado tu preciada 
            reliquia automovilística? No te preocupes, en <b>Rust-Away</b> estamos aquí para ayudarte a revivir el esplendor de tu vehículo y convertirlo en la joya que siempre soñó ser.
            Somos expertos en la restauración integral de vehículos, desde autos y motocicletas hasta camiones y maquinaria pesada. Contamos con un equipo altamente capacitado 
            y experimentado, con la pasión y el conocimiento necesarios para abordar cualquier proyecto, sin importar su complejidad.
            Nuestro taller está equipado con las herramientas y tecnologías más avanzadas, para garantizar un trabajo de restauración preciso y de la más alta calidad. 
            Utilizamos únicamente repuestos originales o de la más alta calidad, para preservar la autenticidad de tu vehículo.
          </div>
          <div class="col-lg-4">
              <img class="mx-auto body-image" src="{{images![0]}}">
            </div>
    </div>
  </div>

  <div class="container body-info px-5 mb-5">
    <div class="row gx-5 p-3">
      <div class="col-lg-4">
        <img class="mx-auto body-image" src="{{images![1]}}">
      </div>
        <div class=" col-lg-8  mb-lg-0">
          En <b>Rust-Away</b> ofrecemos una amplia gama de servicios de restauración, que incluyen:

          <ul>
            <li>
              Restauración de carrocería: Reparación de chapa, pintura, eliminación de óxido, abrillantado y pulido.
            </li>
            <li>
              Restauración de motor: Revisión, reparación y puesta a punto del motor, cambio de piezas desgastadas, ajuste de carburación y encendido.
            </li>
            <li>
              Restauración de interiores: Tapicería, alfombras, paneles, salpicadero, volante y asientos.
            </li>
            <li>
              Restauración de sistemas eléctricos: Revisión y reparación del sistema eléctrico, instalación de nuevo cableado, luces y accesorios.
            </li>
            <li>
              Restauración de suspensiones: Revisión y reparación de suspensiones, amortiguadores, neumáticos y frenos.
            </li>
          </ul>
        </div>
        
  </div>
</div>



  </section>




</div>