<section class="banner f_l_w_100 pt_200 pb_150 pb_80_fhd pb_40_tablet aspectratio_16_8 aspectratio_16_18_mobile dflex flex_wrap js_fe ai_fe">
    <div class="container">
            <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
                @for (image of images; track $index) {
                    <mdb-carousel-item>
                        <img
                          src="{{image}}"
                          class="d-block w-100 "
                          alt="..."
                        />
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                      </mdb-carousel-item>
                    }        
              </mdb-carousel>
        </div>
</section>
