<section class="creative-cards style-one p-4">
  <h1 class="text-center mb-5">Contacto</h1>
  <div class="container">
    <div class="row">
      <div class="card-column">
        <div class="card-details">
          <div class="card-icons">
            <img class="light-icon" src="assets/advice.png" alt="icon" />
          </div>
          <h3><a>Asesoramiento técnico</a></h3>
          <p>
            Te ayudamos a elegir las mejores opciones para la restauración de tu
            vehículo, en función de tu presupuesto y necesidades.
          </p>
          <a class="read-more-btn"><i class="fa-solid fa-angles-right"></i></a>
        </div>
      </div>
      <div class="card-column">
        <div class="card-details">
          <div class="card-icons">
            <img class="light-icon" src="assets/car.png" alt="icon" />
          </div>
          <h3><a>Valoración de vehículos</a></h3>
          <p>
            Te proporcionamos una valoración justa y precisa de tu vehículo,
            tanto para fines de compraventa como de seguro.
          </p>
          <a class="read-more-btn"><i class="fa-solid fa-angles-right"></i></a>
        </div>
      </div>
      <div class="card-column">
        <div class="card-details">
          <div class="card-icons">
            <img class="light-icon" src="assets/shipped.png" alt="icon" />
          </div>
          <h3><a>Servicio de recogida y entrega</a></h3>
          <p>
            Recogemos y entregamos tu vehículo en tu domicilio, para tu mayor
            comodidad.
          </p>
          <a class="read-more-btn"><i class="fa-solid fa-angles-right"></i></a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 mx-auto text-center">
        En Rust-Away estamos comprometidos con la satisfacción de nuestros
        clientes. Nos apasiona devolver la vida a los vehículos clásicos y
        antiguos, y convertirlos en piezas únicas y llenas de historia. No dudes
        en contactarnos para solicitar un presupuesto gratuito o para obtener
        más información sobre nuestros servicios. Estaremos encantados de
        atenderte y ayudarte a hacer realidad tu sueño de restauración. ¡Visita
        nuestro taller y descubre cómo podemos darle nueva vida a tu pasión!
      </div>
    </div>
  </div>
  <h1 class="text-center mb-5 mt-5">Rust Away</h1>
  <div class="card">
    <div class="workshop-info">
      <p><strong>Dirección:</strong> {{ workshop.address }}</p>
      <p><strong>Teléfono:</strong> {{ workshop.phone }}</p>
    </div>
    <div
    class="mx-auto text-center"
      style="
        overflow: hidden;
        resize: none;
        max-width: 100%;
        width: 500px;
        height: 500px;
      "
    >
      <div
        id="embed-ded-map-canvas"
        style="height: 100%; width: 100%; max-width: 100%"
      >
        <iframe
          style="height: 100%; width: 100%; border: 0"
          frameborder="0"
          src="https://www.google.com/maps/embed/v1/place?q=Rambla+del+Poblenou,+154-156,+Sant+Martí,+08018+Barcelona&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
        ></iframe>
      </div>
      <a
        class="embedded-map-code"
        rel="nofollow"
        href="https://www.bootstrapskins.com/themes"
        id="get-data-for-map"
        >premium bootstrap themes</a
      ><style>
      </style>
    </div>
    <button class="btn btn-primary mt-3" (click)="openGoogleMapsDirections()">
      Ver en Google Maps
    </button>
  </div>
</section>